@page
@model Recipes_Final.WebApp.Pages.Recipes.RecipesRetrieveAllByCategoryModel
@{
}

@if (Model.User == null || Model.User != null)
{
    <div>
        <form metod="get">
            <label>Search the Recipe by Category:</label>
            <select name="catid">
                <option value="">Select a Category</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <button type="submit">Search</button>
        </form>
    </div>


    <table class="table table-striped table-dark display: list-group-item-dark;">
        <tr>

            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Prepatation Time</th>
            <th scope="col">Preparation method</th>
            <th scope="col">Details</th>
        </tr>

        @foreach (var recipe in Model.Searches)
        {
            <tr>
                <td scope="row">@recipe.Title</td>
                <td>@recipe.Category.Name</td>
                <td>@recipe.Difficulty.Name</td>
                <td>@recipe.PreparationTime</td>
                <td>@recipe.PreparationMethod</td>
                <td><a style="text-decoration:none" class=" text-center" asp-area="" asp-page="/Recipes/RecipeIngredientLine" asp-route-id="@recipe.Id">See Recipe Details</a></td>
             </tr>
        }
    </table>
}

